:host {
  --background: linear-gradient(135deg, #002366 70%, #ffffff 30%);
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 600px;
  padding: 12px;
  margin-top: 20px;
}

ion-searchbar {
  margin-bottom: 12px;
  --background: #fff;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ion-button {
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-descarga-label {
  font-size: 10px;
}

.no-results {
  text-align: center;
  margin-top: 2rem;
  color: #888;
  font-size: 14px;
}

/* Calendario (si lo usas en la misma página) */
.calendar-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.calendar-day.selected {
  background-color: #002366;
  color: white;
}

.calendar-day.in-range {
  background-color: #8faadc;
  color: white;
}
